.edit-card {
  margin: 2rem 0;
  text-align: center;
}

.form-group {
  text-align: start;
}

.edit-form-card {
  padding: 5rem;
}

.edit-control {
  width: 80%;
  margin-left: 10px;
  resize: none;
}

.edit-form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form-row {
  margin-bottom: 3rem;
}
